.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-form-1 {
  height: 591px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  width: 407px;
  margin: 60px auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin-left: -5px;
  margin-top: -6px !important;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding-top: 8px;
  padding-bottom: 8px;
  --radius: 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-group-6 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-group-6 {
    margin-bottom: 30px !important;
  }

  .u-section-1 .u-text-1 {
    margin-left: -6px;
    margin-top: -102px !important;
  }

  .u-section-1 .u-btn-2 {
    width: 235%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -102px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}